html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 1%;
}

h1 {
	margin: -1% -1% 0.5em -1%;
	padding: 0.25em 1%;
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

h2, h3, h4, h5, h6 {
	margin: 0.5em 0 0.25em 0;
}
